body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  color: #004d40;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #00796b;
  margin-top: 20px;
  text-align: center;
}

.preset-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 1000px;
  color: #e0f7fa;
}

.preset-buttons button {
  padding: 10px;
  font-size: 16px;
  color: #e0f7fa;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.slidecontainer {
  display: flex;
  align-items: center;
  margin: 15px 0;
  /* flex-direction: column; */
  width: 100%;
  max-width: 600px;
}

.slidecontainer p {
  margin: 0 10px;
  font-weight: bold;
}

.slider {
  width: 100%;
  max-width: 400px;
  margin: 10px 10px;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
  margin: 0 2px;
  border: 1px solid #00796b;
  border-radius: 5px;
  margin-top: 10px;
}

button {
  background-color: #004d40;
  color: #004d40;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
}

button:hover {
  background-color: #00796b;
}

#proteinpercalorieSupply {
  font-size: 18px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.input-group input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.input-group input[type="number"] {
  width: 60px;
}

table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #004d40;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #00796b;
  color: white;
}

td {
  min-width: 50px;
  color: #004d40;
}

.color-legend {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .preset-buttons {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .slidecontainer, .input-group {
    width: 90%;
  }

  table {
    width: 100%;
  }
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-wrapper {
  display: none;
  width: 100%;
}

.table-wrapper.active {
  display: block;
}

#prevBtn, #nextBtn {
  background-color: #ddd;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 10px;
}

.emissions-table .td {
  min-width: 50px;
  color: #004d40;
}

.color-legend {
  display: none;
  width: 100%;
}

.color-legend.active {
  display: block;
}

.legend-item {
  align-items: center;
  margin-bottom: 10px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.gallery-container {
  width: 100%;
  height: 300px;
  background-color: #f0f0f0;
  position: relative;
}

.indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #4285f4;
}

/* Overlay styles */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}